{% extends 'layouts/base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
<link rel="stylesheet" href="{% static 'css/comics_mangas.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>

<main class="container py">
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        {% if user.is_authenticated %}
        <h1 class="title is-1 has-text-centered text-center display-3 text-white py-5">
          ¡Bienvenido a Fantasy ComicsMania!
        </h1>
        {% else %}
        <h1 class="title is-1 has-text-centered text-center display-3 text-white py-5">¡Fantasy ComicsMania!</h1>
        {% endif %}
        <p class="subtitle has-text-centered text-center display-3 text-white py-5">
          Explora un mundo de aventuras y emociones en nuestra librería
          especializada en cómics, mangas y artículos relacionados. Encuentra
          los últimos lanzamientos, clásicos atemporales y productos
          coleccionables que harán latir tu corazón de fanático. ¡La aventura
          comienza en cada página!.
        </p>
        <div class="columns is-centered">
          <div class="text-center">
            <img
              src="{% static 'img/log_nav.png' %}"
              alt="Item-1n"
              class="is-size-1-desktop is-size-3-mobile c_m_home"
            />
            <div>
              {% if user.is_authenticated %} {% else %}
              <a class="button is-info is-outlined" href="/signin/">Signin</a>
              <a class="button is-primary is-outlined" href="/signup/"
                >Signup</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="row">
  <!-- Barra de navegación lateral con Bootstrap -->
  <aside class="menu is-fixed-left col-md-auto">
    <p class="title is-3 has-text-centered text-white py-1">Categorías</p>

    <ul class="menu-list" style="background-color: #c954d6; border-radius: 5px; padding: 1rem;">
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Mujer</a></li>
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Hombre</a></li>
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Manga</a></li>
      <!-- Agrega más elementos de menú según sea necesario -->
    </ul>
    <p class="title is-3 has-text-centered text-white py-1">Opciones</p>
    <ul class="menu-list" style="background-color: #c954d6; border-radius: 5px; padding: 1rem;">
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Perfil</a></li>
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Configuración</a></li>
      <li><a href="#" class="has-text-dark has-background-purple is-size-6 has-text-weight-bold py-2 px-3" style="border-radius: 4px;">Salir</a></li>
      <!-- Agrega más elementos de menú según sea necesario -->
    </ul>
  </aside>
  <!-- Banner con Bulma -->
  <div class="col-md-9">
    <div class="banner banner-cover">
      <div class="banner-container">
        <h1 class="title is-3 has-text-centered text-white py-1">¡Ve los nuevos lanzamientos!</h1>
        <img
          src="{% static 'img/banner.png' %}"
          alt="Item-1n"
          class="is-fullwidth"
        />
      </div>
    </div>
  </div>
</div>

<!-- Barra de navegación secundaria
<div class="container">
  <nav class="nav">
    <a class="nav-item active has-text-weight-semibold" href="#">Comics</a>
    <a class="nav-item has-text-weight-semibold" href="#">Mangas</a>
    <a class="nav-item has-text-weight-semibold" href="#">Más vendidos</a>
    <a class="nav-item has-text-weight-semibold" href="#">Ofertas</a>
    <a class="nav-item has-text-weight-semibold" href="#">Muy pronto</a>
  </nav>
</div> -->

<!--<div class="container container-full"> #Esto es sector de 3 personas aun no utilizado
  <div class="columns is-centered is-multiline">
    <div class="column is-full">
      <div class="separator"></div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop column-half">
      <div class="card card-second">
        <img
          class="card-second-image"
          src="{% static 'img/lookbook-men.png' %}"
          alt=""
        />
      </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop column-half">
      <div class="card card-second">
        <img
          class="card-second-image"
          src="{% static 'img/lookbook-women.png' %}"
          alt=""
        />
      </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
      <div class="card card-second">
        <img
          class="card-second-image"
          src="{% static 'img/lookbook-you.png' %}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>-->
<!-- Agregar un modal personalizado para el mensaje de inicio de sesión -->
<div id="mensaje" style="display: none;">
    Debes iniciar sesión para acceder al contenido.
</div>

<div class="comic-manga-list row">
  <h1 class="title is-1 has-text-centered text-white py-5">Cómics y Mangas Populares Según las Votaciones de los demás Usuarios</h1>
  {% for comic_manga in comics_mangas %}
<div class="comic-manga-item col-md-3 mb-3">
  <div class="card">
    
      <a {% if user.is_authenticated %} href="{% url 'comics_mangas_detail' comic_manga.id %}" {% else %} href="{% url 'signin_new' %}" {% endif %}>
          <img class="card-img-top fixed-height-img" src="{{ comic_manga.cover_img.url }}" alt="{{ comic_manga.title }}">
      </a>
      <div class="card-body">
          <h5 class="title is-5">{{ comic_manga.title }}</h5>
          <p class="card-text">Editorial: {{ comic_manga.publisher.description }}</p>
          <p class="has-text-weight-bold">Precio: {{ comic_manga.price_bs }} Bs</p>
          <p>Calificación Promedio: {{ comic_manga.average_rating|default:"No Ratings" }}</p>
          <p>Número de Calificaciones: {{ comic_manga.ratings_count }}</p>
          <!-- Verificar si el producto está en stock -->
          {% if comic_manga.stock > 0 %}
              <!-- Verificar si el producto está en el carrito -->
              {% if comic_manga.id in cart_item_ids %}
                  <button class="button is-dark" disabled>
                      <span class="is-small"><i class="fa fa-cart-plus"></i></span>
                      <span>Añadido</span>
                  </button>
              {% else %}
                  <button id="add-to-cart-btn-{{ comic_manga.id }}" class="button is-dark add-to-cart-btn" onclick="addToCart('{{ comic_manga.id }}', this)">
                      <span class="icon is-small"><i class="fa fa-cart-plus"></i></span>
                      <span>Añadir a carrito</span>
                  </button>
              {% endif %}
          {% else %}
          <button class="button is-danger is-outlined" disabled>
              <span class="icon is-small"><i class="fas fa-cart-plus"></i></span>
              <span>¡AGOTADO!</span>
          </button>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url 'comics_mangas_detail' comic_manga.id %}" class="button is-info">
              <span>Detalles</span>
          </a>
          {% else %}
          <button class="button is-info" data-bs-toggle="modal" data-bs-target="#Model">
              <span>Detalles</span>
          </button>
          {% endif %}
      </div>
  </div>
</div>
{% endfor %}
</div>

<!-- Sección de comics y mangas Pupulares -->
<!--<main class="container py"></main>
  <section class="section">
    <h1 class="title is-1 has-text-centered text-white py-5">Cómics y Mangas Populares Según las Votaciones de los demás Usuarios</h1>
    <div class="columns is-multiline">
      {% for comic_manga in comics_mangas %}
      <div class="column is-4-desktop is-6-tablet is-full-mobile mb-4">
        <div class="card">
          <a {% if user.is_authenticated %} href="{% url 'comics_mangas_detail' comic_manga.id %}" {% else %} href="{% url 'signin_new' %}" {% endif %}>
            <img class="card-img-top" src="{{ comic_manga.cover_img.url }}" alt="{{ comic_manga.title }}">
          </a>
          <div class="card-content">
            <h5 class="title is-5">{{ comic_manga.title }}</h5>
            <p class="subtitle is-6">Editorial: {{ comic_manga.publisher.description }}</p>
            <p class="has-text-weight-bold">Precio: {{ comic_manga.price_bs }} Bs</p>
            <p>Calificación Promedio: {{ comic_manga.average_rating|default:"No Ratings" }}</p>
            <p>Número de Calificaciones: {{ comic_manga.ratings_count }}</p>
            
            {% if comic_manga.stock > 0 %}
                {% if comic_manga.id in cart_item_ids %}
                    <button class="button is-dark" disabled>
                        <span class="icon is-small"><i class="fa fa-cart-plus"></i></span>
                        <span>Añadido</span>
                    </button>
                {% else %}
                    <button id="add-to-cart-btn-{{ comic_manga.id }}" class="button is-dark add-to-cart-btn" onclick="addToCart('{{ comic_manga.id }}', this)">
                        <span class="icon is-small"><i class="fa fa-cart-plus"></i></span>
                        <span>Añadir a carrito</span>
                    </button>
                {% endif %}
            {% else %}
                <button class="button is-danger is-outlined" disabled>
                    <span class="icon is-small"><i class="fas fa-cart-plus"></i></span>
                    <span>¡AGOTADO!</span>
                </button>
            {% endif %}
            {% if user.is_authenticated %}
              <a href="{% url 'comics_mangas_detail' comic_manga.id %}" class="button is-info">
                  <span>Detalles</span>
              </a>
            {% else %}
              <button class="button is-info" data-bs-toggle="modal" data-bs-target="#Model">
                  <span>Detalles</span>
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>-->
{% endblock %}
