{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title"><i class="fas fa-shopping-cart"></i> Detalles de la Orden</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p><strong><i class="fas fa-id-card"></i> ID de Orden:</strong> {{ order.id }}</p>
                            <p><strong><i class="fas fa-info-circle"></i> Estado:</strong> {{ order.status }}</p>
                            <p><strong><i class="fas fa-dollar-sign"></i> Total de la Orden:</strong> {{ order.total_price }} Bs</p>
                        </div>
                        <div class="col-md-4">

                            <form id="payment-form" method="post" action="{% url 'order_detail' order_id=order.id %}">


                                {% csrf_token %}
                                <div class="form-group bg-light">
                                    <label for="shipping_address"><i class="fas fa-map-marker-alt"></i> Dirección de Envío</label>
                                    <input class="form-control" type="text" name="shipping_address" value="{{ order.shipping_address }}" placeholder="Incluye el # de puerta">
                                </div>
                                <div class="form-group bg-light">
                                    <label for="first_name"><i class="fas fa-user"></i> Primer Nombre</label>
                                    <input class="form-control" type="text" name="first_name" value="{{ order.first_name }}" placeholder="Ingrese su primer nombre">
                                </div>
                                <div class="form-group bg-light">
                                    <label for="last_name"><i class="fas fa-user"></i> Primer Apellido</label>
                                    <input class="form-control" type="text" name="last_name" value="{{ order.last_name }}" placeholder="Ingrese su primer apellido">
                                </div>
                                <div class="form-group bg-light">
                                    <label for="country"><i class="fas fa-globe-americas"></i> País</label>
                                    <select id="country" name="country" class="form-control">
                                        {% for code, country_name in order.COUNTRY_CHOICES %}
                                            <option value="{{ code }}" {% if code == order.country %} selected {% endif %}>{{ country_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                             </div>
                             <div class="col-md-4">
                                <div class="form-group bg-light">
                                    <label for="city"><i class="fas fa-building"></i> Departamento: </label>
                                    <select id="city" name="city" class="form-control">
                                        {% for code, city in order.BOLIVIAN_DEPARTMENTS %}
                                            <option value="{{ code }}" {% if code == order.city %} selected {% endif %}>{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group bg-light">
                                    <label for="zone"><i class="fas fa-map-pin"></i> Zona</label>
                                    <input class="form-control" type="text" name="zone" value="{{ order.zone }}" placeholder="Zona">
                                </div>
                                <div class="form-group bg-light">
                                    <label for="shipping_method"><i class="fas fa-truck"></i> Método de Envío</label>
                                    <select class="form-control" name="shipping_method" id="shipping_method">
                                        {% for cost, label in order.SHIPPING_CHOICES %}
                                            <option value="{{ cost }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>

                                    <div class="form-group">
                                        <button id="confirm-order-button" class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Confirmar Datos</button>
                                        <a href="#" class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar Orden</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="payment_method"><i class="fas fa-credit-card"><strong><i class="fas fa-card"></i> MÉTODO DE PAGO:</strong></i></label>
                                    
                                    <div>
                                        {% for method in order.PAYMENT_CHOICES %}
                                        <div class="form-check" style="margin-bottom: 10px;">
                                            <input class="form-check-input" type="radio" name="payment_method" value="PayPal" id="PayPal" onchange="togglePayPalContainer()">

                                            <label class="form-check-label" for="{{ method.0 }}">
                                                {% if method.0 == 'PayPal' %}
                                                    <img src="{% static 'img/PayPal.png' %}" alt="PayPal" style="width: 100px; height: auto; margin-right: 10px;">
                                                    <div id="paypal-container" style="display: none;">
                                                        <!-- Contenido de PayPal -->
                                                        <div id="paypal-button-container"></div>
                                                    </div>
                                                {% elif method.0 == 'Mercado Libre' %}
                                                    <img src="{% static 'img/mercado_l.png' %}" alt="Mercado Libre" style="width: 100px; height: auto; margin-right: 10px;">
                                                {% else %}
                                                    <i class="fas fa-credit-card"></i> {{ method.1 }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenedor de PayPal (inicialmente oculto) -->
<div id="paypal-container" style="display: none;">
    <!-- Contenido de PayPal -->
    <div id="paypal-button-container"></div>
</div>

    
    
<!-- Script para mostrar u ocultar el contenedor de PayPal y otros métodos de pago -->
<script>
    // Función para mostrar u ocultar el contenedor de PayPal
    function togglePayPalContainer() {
        var paypalRadio = document.getElementById('PayPal');
        var paypalContainer = document.getElementById('paypal-container');

        // Ocultar el contenedor de PayPal si el radio de PayPal no está seleccionado
        if (!paypalRadio.checked) {
            paypalContainer.style.display = 'none';
        } else {
            paypalContainer.style.display = 'block';
        }
    }
</script>
<!-- Script de PayPal -->
<script src="https://www.paypal.com/sdk/js?client-id=ASN1mNwEDNB287Si0Ock9BSi8KWcMOk0ileCfImWBlekUoZGbgx0dcRt6LtJqtjlJeS2vXufxHVkAYIT"></script>
<script>
    paypal
        .Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [
                        {
                            amount: {
                                value: "{{ order.total_price }}", // Precio dinámico basado en el total de la orden
                            },
                        },
                    ],
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Muestra un mensaje de alerta cuando se completa la transacción
                    alert("Transacción completada por " + details.payer.name.given_name);
                    // Envía el formulario para guardar la orden
                    document.getElementById("payment-form").submit();
                });
            },
        })
        .render("#paypal-button-container");

    // Agregamos un evento de clic al botón de PayPal para desencadenar la acción del formulario
    document.getElementById("paypal-button-container").addEventListener("click", function() {
        // Simulamos un clic en el botón de confirmación del formulario
        document.getElementById("confirm-order-button").click();
    });
</script>

{% endblock %}
