{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- Esta llamando de manera estática con el load static las paginas estáticas css -->
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}"/>
    <title>Formulario login</title>
</head>
<body>
    <div class="container-form register hide" id="register-form">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido a ComicsMania</h2>
                <p>
                    Para tener acceso a la aplicación y su variedad de comics y mangas
                    por favor Inicia Sesión con tus datos
                </p>
                <input type="button" value="Iniciar Sesión" id="sign-in" />
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <form class="form" id="form_registro" action="{% url 'signin_signup' %}" method="POST">
                    {% csrf_token %}
                    <h2>Crear una nueva cuenta</h2>
                    <label for="username">
                        <i class="bx bxs-user-circle"></i>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
                         {% for error in form.username.errors %}
                         <span class="error">{{ error }}</span>
                         {% endfor %}
                    </label>
                    <!-- Agrega más campos según sea necesario -->
                    <label for="full_name">
                        <i class="bx bxs-user"></i>
                        <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Enter your full name">
                        {% for error in form.full_name.errors %}
                        <span class="error"> {{ error }} </span>
                        {% endfor %}
                    </label>
                    <label for="birth_date">
                        <i class="bx bxs-calendar"></i>
                        <input type="date" name="birth_date" id="birth_date" class="form-control">
                        {% for error in form.birth_date.errors %}
                         <span class="error">{{ error }}</span>
                         {% endfor %}
                    </label>
                    <label for="email">
                        <i class="bx bx-envelope"></i>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address">
                    </label>
                    <label for="password1">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Write your password">
                        {% for error in form.password1.errors %}
                        <span class="error"> {{ error }} </span>
                        {% endfor %}
                    </label>
                    <label for="password2">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your password">
                        {% for error in form.password2.errors %}
                        <span class="error"> {{ error }} </span>
                        {% endfor %}
                    </label>
                    <input type="submit" name="register" value="Registrarse" />
                    <div class="icons">
                        <i class="bx bxl-google"></i>
                        <i class="bx bxl-facebook-circle"></i>
                        <i class="bx bxl-github"></i>
                    </div>
                    <p>Otras opciones para registrarte</p>
                </form>
            </div>
        </div>
    </div>
    <!-- Iniciar Sesión -->
    
    <!--<div class="container-form login hide" id="login-form"-->
    <div class="container-form login" id="login-form">
        <div class="information">
            <div class="info-childs">
                <h2>¡Bienvenido, estás por ingresar!</h2>
                <p>
                    Si aún no tienes una cuenta, regístrate con el siguiente botón:
                </p>
                <input type="button" value="Registrarse" id="sign-up" />
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <form class="form" id="form_login" action="{% url 'signin_signup' %}" method="POST">
                    {% csrf_token %}
                    <h2>Iniciar Sesión</h2>
                    <label for="username">
                        <i class="bx bx-envelope"></i>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
                    </label>
                </label>
                    <label for="password">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Write your password">
                    </label>

                    {% if error_message %}
                    <div class="error-message">
                    {{ error_message }}
                   </div>
                   {% endif %}
                    <input type="submit" name="login" value="Iniciar Sesión" />
                    <div class="icons">
                        <i class="bx bxl-google"></i>
                        <i class="bx bxl-facebook-circle"></i>
                        <i class="bx bxl-github"></i>
                    </div>
                    <p>Iniciar Sesión con una cuenta:</p>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>


</body>
</html>
