{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}"/>
    <style>
        body {
            background-image: url("{% static 'img/fondo_login.png' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container-form register" id="register-form">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido a ComicsMania</h2>
                <p>Para tener acceso a la aplicación y su variedad de comics y mangas, por favor inicia sesión con tus datos.</p>
                <input type="button" value="Iniciar Sesión" id="sign-in" />
                <div>
                    <input type="button" value="Ir a Home" id="home-button">
                </div>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <form class="form" id="registration-form" action="{% url 'signup_new' %}" method="POST">
                    {% csrf_token %}
                    <h2>Crear una nueva cuenta</h2>
                    <label for="username">
                        <i class="bx bxs-user-circle"></i>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Escribe tu nombre de usuario" required>
                        {% for error in form.username.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label for="first_name">
                        <i class="bx bxs-user"></i>
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Ingresa tu nombre" required>
                        {% for error in form.first_name.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label for="last_name">
                        <i class="bx bxs-user"></i>
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Ingresa tu apellido" required>
                        {% for error in form.last_name.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label for="birth_date">
                        <i class="bx bxs-calendar"></i>
                        <input type="date" name="birth_date" id="birth_date" class="form-control" placeholder="Selecciona tu fecha de nacimiento" required>
                        {% for error in form.birth_date.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label for="email">
                        <i class="bx bx-envelope"></i>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Ingresa tu dirección de correo electrónico" required>
                    </label>
                    <label for="password1">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Escribe tu contraseña" required>
                        {% for error in form.password1.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label for="password2">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma tu contraseña" required>
                        {% for error in form.password2.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <input type="submit" name="register" value="Registrarse" />
                </form>
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById('sign-in').addEventListener('click', function() {
            window.location.href = "{% url 'signin_new' %}";
        });

        document.getElementById("home-button").addEventListener("click", function() {
            window.location.href = "{% url 'home' %}";
        });
    </script>
</body>
</html>
